/* Copyright (c) 2009 Jason Pratt
 * This software is distributed under the MIT License, which can be found
 * in the LICENSE.txt file accompanying the software, or at this url:
 * http://www.opensource.org/licenses/mit-license.html
 */

.formFields th {
	text-align: right;
	vertical-align: top;
	padding-right: 10px;
}
.formFields td {
	text-align: left;
	vertical-align: top;
	padding-bottom: 15px;
}
.required {
	font-weight: bold;
	color: red;
}
.submit {
	width: 100%;
	text-align: center;
}
.form {
	margin-left: 40px;
	margin-right: 20px;
	margin-bottom: 40px;
}
.errorNotification {
	display: none;
	padding-left: 8px;
	font-weight: bold;
	color: red;
}
.errorBlock {
	color: red;
}
.tableWithErrorNotification td {
	margin: 0px;
	border: 0px;
	padding: 0px;
}
.hint {
	font-size: smaller;
	font-weight: normal;
	color: gray;
}
.modifyPageLink {
	font-size: smaller;
	font-weight: normal;
}
.ladderInput {
	padding-bottom: 30px;
}
.scoreInput {
	padding-left: 12px;
}

#requiredTD {
	padding-bottom: 1em;
}
