/* Copyright (c) 2009 Jason Pratt
 * This software is distributed under the MIT License, which can be found
 * in the LICENSE.txt file accompanying the software, or at this url:
 * http://www.opensource.org/licenses/mit-license.html
 */

.bracketTable {
	margin-bottom: 1em;
	border-collapse: collapse;
	border-bottom: 1px solid #CCC;
}

.bracketTable td {
	border: 1px solid black;
	padding: 0.2em;
	text-align: center;
}

.bracketTable .teamCell {
	color: white;
	background-color: #333;
}

.bracketTable .playerCell {
}

.bracketTable .vsCell {
	border: 0px;
}

.bracketTable .numberColumn {
	text-align: right;
}
.bracketTable .winner {
	font-weight: bold;
}
