/* Copyright (c) 2009 Jason Pratt
 * This software is distributed under the MIT License, which can be found
 * in the LICENSE.txt file accompanying the software, or at this url:
 * http://www.opensource.org/licenses/mit-license.html
 */

#helpContent {
	margin: 2em 4em;
}

#helpContent .toc {
	margin-bottom: 3em;
}

#helpContent p {
	margin-top: 0.2em;
	margin-bottom: 0.8em;
}

#helpContent h2 {
	width: 100%;
	margin: 0em;
	margin-top: 2em;
	margin-bottom:0.5em;
	padding: 0.1em 0.2em;
	background-color: #E6E6FF;
	border-top: 1px solid #33A;
	font-size: 110%;
}

#helpContent h3 {
	margin: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding: 0em;
	font-size: 100%;
}

#helpContent dt {
	font-style: italic;
}
#helpContent dd {
	margin-bottom: 1em;
}

.downloadBox {
	margin: 2em;
}

.downloadBox span {
	border: 1px solid #060;
	padding: 0.5em;
	background-color: #DFD;
}
