/* Copyright (c) 2009 Jason Pratt
 * This software is distributed under the MIT License, which can be found
 * in the LICENSE.txt file accompanying the software, or at this url:
 * http://www.opensource.org/licenses/mit-license.html
 */

/*------------
 * Color
 *------------*/
body {
	color: black;
	background-color: white;
}

hr {
	color: #CCC;
	background-color: #CCC;
}

.horizontalMenu li {
	border-color: #CCC;
}

.important {
	color: red;
}
.importantGreen {
	color: green;
}

.version {
	color: #999;
}

.detailsBlock {
	border-color: #666;
	background-color: #EEE;
}

a:link { color: #00C; }
a:visited { color: #70A; }

.horizontalMenu a:visited { color: #00C; }
.pagingBar a:visited { color: #00C; }

.removeLink:link { color: #C00; }
.removeLink:active { color: #C00; }
.removeLink:visited { color: #C00; }
.removeLink:hover { color: #C00; }

/*------------
 * Type
 *------------*/
body {
	font-family: arial, sans-serif;
}

#pageTitle {
	font-family: "Georgia", serif;
	font-size: 28pt;
	font-weight: 500;
}

#titleBar .title {
	font-size: 20pt;
	font-weight: 900;
}

.tournamentInfo h1 {
	font-size: 20pt;
	font-weight: 500;
}

.tournamentInfo h3 {
	font-size: 10pt;
}

.important {
	font-weight: bold;
}
.importantGreen {
	font-weight: bold;
}

.removeLink {
	font-size: smaller;
	text-decoration: none;
}

.detailsBlock {
	font-size: smaller;
}
.dataTable {
	font-size: 90%;
}
#footerPanel {
	font-size: 70%;
}

.version {
	font-size: 30%;
	font-family: arial, sans-serif;
}

/*------------
 * Layout
 *------------*/
body {
	margin: 0px;
	padding: 5px 15px;
}

hr {
	height: 1px;
	border: 0px;
}

#accountBar {
	float: right;
}

#titleBar {
	width: 100%;
}

#titleBar .titleCell {
	vertical-align: top;
	text-align: left;
}

#titleBar .tournamentInfoCell {
	vertical-align: top;
	text-align: right;
}

.tournamentInfo h1,h3 {
	margin: 0px;
	padding: 0px;
}

#mainPanel {
	margin-left: 2.0em;
	margin-right: 2.0em;
}

.horizontalMenu {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.horizontalMenu li {
	display: inline;
	margin: -2px;
	border-left: 1px solid #CCC;
	padding: 0em 0.4em;
}
.horizontalMenu li:first-child {
	border: none;
	margin: 0px;
	padding-left: 0px;
}
.horizontalMenu li a {
	margin: 0px;
	padding: 0px;
}
.editLink {
	padding-top: 20px;
}
td.twoColumnLayout {
	vertical-align: top;
}
.headersLeftTable th {
	text-align: right;
	vertical-align: top;
	padding-right: 0.2em;
}
.headersLeftTable td {
	text-align: left;
	vertical-align: top;
	padding-bottom: 0.2em;
}
.opponentsTable {
	margin-top: 2em;
	margin-bottom: 2em;
}
.opponentsTable th {
	text-align: left;
	vertical-align: top;
	padding-right: 1em;
}
.opponentsTable td {
	text-align: left;
	vertical-align: top;
	padding-right: 1em;
}
.detailsBlock {
	margin-left: 2em;
	padding: 0em 1em 1em 1em;
	border: 1px solid;
}
.pagingBar {
	margin: 1em 2em;
}
.pagingBar a, .pagingBar span {
	padding: 0.2em;
}
#footerPanel {
	text-align: center;
	margin-bottom: 4em;
}

/*------------
 * Misc
 *------------*/

.pagingBar .current {
	border: 1px solid #BBB;
	padding: 0.1em;
}

span.tooltip {
	background: white;
	text-decoration: none;
	border-bottom: 1px dashed;
}
span.tooltip span {
	display: none;
	padding: 4px;
	margin-top: 4px;
	margin-left: 4px;
}
span.tooltip:hover span {
	display: inline;
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	max-width: 30em;
}

.sep {
	width: 1px;
	border-left: 1px solid #CCC;
	margin-left: 2px;
	margin-right: 6px;
	padding: 0px;
}

.formula {
	text-align: center;
	vertical-align: center;
}
.formula .numerator {
	border-bottom: 1px solid black;
}

.offset {
	margin-left: 2em;
}

.nowrap {
	white-space: nowrap;
	overflow: auto;
}
