/* Copyright (c) 2009 Jason Pratt
 * This software is distributed under the MIT License, which can be found
 * in the LICENSE.txt file accompanying the software, or at this url:
 * http://www.opensource.org/licenses/mit-license.html
 */
/* Based on this: http://labs.silverorange.com/archive/2004/may/updatedsimple */

#tabBody {
	border-top: 1px solid #666;
	clear: both;
}

#tabContents {
	padding: 0.75em;
}

#tabHeader {
	position: relative;
	width: 100%;
	height: 3em;
	width: 25em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tabHeader ul#tabList {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 25em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tabHeader ul#tabList li  {
	display: inline;
	list-style: none;
}

#tabHeader ul#tabList a,#tabHeader ul#tabList span,#tabHeader ul#tabList a.current {
	width: 6em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-size: 85%;
}

#tabHeader ul#tabList span,#tabHeader ul#tabList a.current,#tabHeader ul#tabList a.current:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: #FFF;
	padding-bottom: 6px;
	margin-top: 0;
}

#tabHeader ul#tabList a {
	border: 1px solid #CCC;
	border-bottom: none;
	text-decoration: none;
}

#tabHeader ul#tabList a:hover {
	margin-top: 0;
	border-color: #666;
	background: #FFF7CD;
	padding-bottom: 5px;
}

#tabHeader ul#tabList a:visited {
	color: #00C;
}
