{% comment %}
# Copyright (c) 2009 Jason Pratt
# This software is distributed under the MIT License, which can be found
# in the LICENSE.txt file accompanying the software, or at this url:
# http://www.opensource.org/licenses/mit-license.html {% endcomment %}

<span class="hint">
	<span class="tooltip">(BBCode formatting)
		<span>
			[b]bold[/b]<br>
			[i]italics[/i]<br>
			[u]underline[/u]<br>
			[s]strikethrough[/s]<br>
			[url]http://example.com/[/url]<br>
			[url=http://example.com/]example[/url]<br>
			[img]http://example.com/image.jpg[/img]<br><br>
			[list]<br>
			[*]item 1<br>
			[*]item 2<br>
			[/list]<br><br>
			[list=1]<br>
			[*]numbered item 1<br>
			[*]numbered item 2<br>
			[/list]<br>
		</span>
	</span>
</span>
