{% extends "Root.tmpl" %}

{% comment %}
# Copyright (c) 2009 Jason Pratt
# This software is distributed under the MIT License, which can be found
# in the LICENSE.txt file accompanying the software, or at this url:
# http://www.opensource.org/licenses/mit-license.html {% endcomment %}

{% block style %}{{ block.super }}
<link href="/css/dataTable.css" rel="stylesheet" type="text/css">
<link href="/css/tabs.css" rel="stylesheet" type="text/css">{% endblock %}

{% block javascript %}
<script type="text/javascript" src="javascript/jquery-1.2.3.min.js"></script>
<script type="text/javascript" src="javascript/magicschell.js"></script>
{% endblock %}

{% block mainPanel %}

{% include "titleBar.tmpl" %}

<table class="headersLeftTable">
	<tr>
		<th>Name:</th>
		<td>{{ playerRepr.name }}</td>
	</tr>
	<tr>
		<th>Email:</th>
		<td>{{ playerRepr.email }}</td>
	</tr>
	<tr>
		<th>Rating:</th>
		<td>{{ playerRating }}</td>
	</tr>
	<tr>
		<th>Team:</th>
		<td><a href="{{ teamLink }}">{{ teamRepr }}</a></td>
	</tr>
</table>

<table class="opponentsTable">
	<tr>
		<th>Opponents Played:</th>
		<th>Opponents Not Played:</td>
	</tr>
	<tr>
		<td>
			{% for opponentPlayed in opponentsPlayed %}
			<a href="{{ opponentPlayed.0 }}">{{ opponentPlayed.1 }}</a><br>
			{% endfor %}
		</td>
		<td>
			{% for opponentNotPlayed in opponentsNotPlayed %}
			<a href="{{ opponentNotPlayed.0 }}">{{ opponentNotPlayed.1 }}</a><br>
			{% endfor %}
		</td>
	</tr>
</table>

<h3>Matches:</h3>
{% include "matchesTable.tmpl" %}
{{ pagingBar|safe }}
Results per page: {{ resultsPerPageWidget|safe }}

{% include "displayErrors.tmpl" %}

{% endblock %}
